@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.mysa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.mysa img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background-color: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.carousel {
    height: 100vh;
    padding: 0 10%;
}

.carousel .box-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    height: 250px;
    background: slateblue;
    overflow: hidden;
}

.box-info .list-info{
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.list-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 250px;
}

.info h2 {
    font-size: 50px;
    line-height: 1;
}

.info p {
    font-size: 16px;
    margin: 20px 0;
}

.info .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.carousel .list-img {
    height: 100%;
}

.list-img item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.item img {
    position: absolute;
    right: 0;
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
}

.prevnext {
    position: relative;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
}

.prevnext span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0 10px;
    font-size: 55px;
    color: #fff;
}